body {
    font-family: 'Open Sans', sans-serif;

    /* padding for fixed-top navbar (navbar is 50px) */
    padding-top: 62px;
}

.alert.alert-input-error {
    padding: 6px 10px;
    font-size: 12px;
}

.modal .modal-transparent-background {
    background: rgba(0,0,0,0);
}

.modal-nopad {
    padding: 0px;
}

#login-modal {
    /*top: 50%;*/
    /*margin-top: -200px;*/
}

.jumbotron {
    background-color: transparent;
}

/*li.active {*/
    /*border-bottom: 4px solid red;*/
/*}*/